<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Alpha{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user_is_logged_in %}
                    <li><a href="{{% url_for('show_my_tasks') %}}">My tasks</a></li>
                    <li><a href="{{% url_for('list_projects') %}}">My projects</a></li>
                    <li><a href="{{% url_for('logout') %}}">Logout</a></li>
                {% else %}
                    <li><a href="{{% url_for('login') %}}">Login</a></li>
                    <li><a href="{{% url_for('signup') %}}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
