<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>
   <main>
        <div>
            <h1>Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <ul>
                {% for project in projects %}
                    <li>
                        <a href="{% url 'show_project' id=project.id %}">
                            {{ project.name }} ({{ project.tasks.all|length }} tasks)
                        </a>
                    </li>
                    <p>You are not assigned to any projects</p>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>
